<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @poem.author %>
</p>

<p>
  <strong>Test:</strong>
  <%= @poem.test %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
